# Start of .gitignore content managed by acc-py

# Project artefacts.
*/_version.py

# Runtime artefacts.
__pycache__
*.py[co]
*.egg-info
*.pkg-info

# Common virtual env names
venv/
venv.*/

# Build artefacts
*.whl
dist/
build/

# Common IDE files
.idea/
.vscode/

# End of .gitignore content managed by acc-py
